﻿    @model XmlToClassV2.Controllers.MyModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@using(Html.BeginForm()){
    <button type="submit">提交</button>
    <div style="float: left; width: 49%">
        @Html.TextAreaFor(_ => _.xml,new {cols=80,rows="100"})
    </div>
    <div style="float: right; width: 49%">
        <pre>
            @Html.Raw(Model.classText)
            </pre>
        
    </div>
}

</body>
</html>